<!DOCTYPE html>
<html lang="en">
  <%- include('head'); %>
  <body>
    <script></script>
    <%- include('nav'); %>
    <div class="container">
      <h1 style="margin-top: 100px">Welcome <%= user %>!</h1>

      <div class="card mt-3">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#"
                >Post Something Motivational</a
              >
            </li>
          </ul>
        </div>
        <div class="card-body">
          <form action="/post" method="POST">
            <div class="form-group">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="5"
                name="post"
                required
              ></textarea>
              <div class="form-check form-switch mt-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  name="privacy"
                />
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Check to make your post private (Only visible to
                  yourself)</label
                >
              </div>
              <button type="submit" class="btn btn-primary mt-3">Post</button>
            </div>
          </form>
        </div>
      </div>

      <h3 class="text-center mt-5 mb-5">Motivational Feed</h3>

      <!--  -->
      <% for (var i = 0; i < posts.length; i++) { %> <% if(posts[i].author ==
      sessionUser){ %>
      <div class="card mt-3">
        <h5 class="card-header">
          <%= posts[i].firstName %> <%= posts[i].lastName %>
        </h5>
        <div class="card-body">
          <p class="card-text"><%= posts[i].post %></p>
          <form
            class="d-inline"
            method="GET"
            action="/user/<%= posts[i].author %>"
          >
            <button type="submit" class="btn btn-primary">View Profile</button>
          </form>

          <form class="d-inline" method="POST" action="/deletePublicPost %>">
            <button
              type="submit"
              name="homePostId"
              value="<%= posts[i]._id %>"
              class="btn btn-danger"
            >
              Delete Post
            </button>
          </form>
        </div>
      </div>
      <% } else { %>
      <div class="card mt-3">
        <h5 class="card-header">
          <%= posts[i].firstName %> <%= posts[i].lastName %>
        </h5>
        <div class="card-body">
          <p class="card-text"><%= posts[i].post %></p>
          <form
            class="d-inline"
            method="GET"
            action="/user/<%= posts[i].author %>"
          >
            <button type="submit" class="btn btn-primary">View Profile</button>
          </form>
        </div>
      </div>
      <% } %><% } %>

      <!--  -->
    </div>
    <%- include('footer'); %>
  </body>
</html>
